@font-face {
    font-family: 'Poppins Medium';
    src: url('/assets/Fontes/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('/assets/Fontes/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'Built Titling BD';
    src: url('/assets/Fontes/Built/built\ titling\ bd.ttf') format('truetype');
}


@font-face {
    font-family: 'Retroica';
    src: url('/assets/Fontes/Retroica.ttf') format('truetype');
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #feda00;
    height: 135px;
}

.header-logo{
    width: 90px;
    margin-top: 10px;
}

.header-logo:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
}

.header-logo img{
    width: 100%;
    text-align: center;
}

.header-navbar{
    margin: 0 30px;
}

.header-navbar ul{
    list-style-type: none;
    font-size: 22px;
    font-family: 'Poppins Medium';
}

.header-navbar li{
    display: inline;
    margin: 0 10px;
    padding: 0 55px;
}

.header-navbar li a {
    letter-spacing: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0 3px;
    color: black;
    position: relative;
}

.header-container span{
    display: none;
}

.header-navbar a:hover{
    color: rgba(0, 0, 0, 0.75);
    transition: color .6s ease-in-out;
}

.header-navbar li a:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: -2%;
    background-color: #2c0e70;
    transition: deslocando 0.7s ease-in;
    animation-name: deslocando;
    animation-duration: 1.5s;
}

@keyframes deslocando{
    0%{
        margin-left: 47%;
        width: 1px;
        transform: translateX(-15px);
        background-color: #feda00;
    }
    25%{
        background-color: #f0d32e;
    }
    50%{
        background-color: #bba41f;
    }
    75%{
        background-color: #23095c;
    }
    100%{
        margin-left: 0;
        width: 100%;
        transform: translateX(0px);
        background-color: #2c0e70;
        color: rgba(0, 0, 0, 0.75);
    }
}

.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 845px;
    background-image: url(/assets/Imagens/possessed-photography-JjGXjESMxOY-unsplash.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.surgir{
    animation-name: surgir;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: surgir 1s ease-in;
}

@keyframes surgir{
    0%{
        margin-left: -90px;
        opacity: 0.5;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}

.home-content-left{
    margin-top: 30px;
    margin-left: 0;
    width: 45%;
}

.home-content-left h1{
    font-size: 60px;
    font-family: 'Poppins SemiBold';
    text-transform: uppercase;
    color: white;
}

.home-content-left h1:hover{
    transition: color 0.6s ease;
    color: #feda00;
}

.home-content-left h2{
    font-size: 30px;
    font-family: 'Poppins SemiBold';
    text-transform: uppercase;
    color: white;
}

.home-content-left button{
    border-radius: 30px;
    padding: 20px 50px;
    margin: 25px 0;
    border: none;
    font-size: 21px;
    font-family: 'Poppins SemiBold';
    background: #FFFFFF;
    box-shadow: 10px 8px 40px rgba(245, 116, 21, 0.52);
    cursor: pointer;
}

.home-content-left button:hover{
    transition: background-color 0.4s ease-in, transform 0.3s ease-out;;
    color: #2c0e70;
    background-color: #feda00;
    transform: scale(1.1);
}

.home-content-right-carrosel{
    margin-top: 20px;
    height: 600px;
    position: relative;
}

.prox, .voltar{
    font-size: 18px;
    position: absolute;
    color: white;
    width: auto;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    top: 50%;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.4s ease-in;
}

.prox{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.ponto{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 7px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease-out;
}

.ponto:hover, .active{
    background-color: #717171;;
}

.prox:hover, .voltar:hover{
    background-color: rgba(0, 0, 0, 0.85);
}

.home-content-right-carrosel .slide{
    height: 100%;
}

.slide img{
    border-radius: 30px;
    height: 100%;
}

.fade{
    animation-name: fade;
    animation-duration: 1.6s;
}

@keyframes fade{
    from {opacity: .8;}
    to {opacity: 1;}

    from {
        margin-left: 3%;
      }
    
      to {
        margin-left: 0%;
    }
}

.sobre{
    height: 975px;
    background-color: #191200;
    position: relative;
}

.sobre h1{
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 85px;
    font-family: 'Built Titling BD';
    font-size: 40px;
}

.sobre h1:hover{
    color: rgb(227, 230, 222);
    transition: color .7s ease;
}

.sobre h1:hover::after, .sobre h1:hover::before{
    content: '';
    width: 200px;
    height: 4px;
    position: absolute;
    top: 81px;
    transition: surgir-h1 .3s ease;
    animation: surgir-h1 1.2s 1;
    background-color: #f0d32e;
}

.sobre h1:hover::before{
    left: 33%;
}

.sobre h1:hover::after{
    left: 56%;
}

@keyframes surgir-h1{
    0%{
        margin-left: 30px;
        margin-top: -12px;
        background-color: #191200;
    }
    50%{
        background-color: #8f8931;
    }
    100%{
        margin-left: 0;
        margin-top: 0;
        background-color: #f0d32e;
    }
}

.sobre-content-carrosel{
    width: 1350px;
    border-radius: 30px;
    margin: auto;
    position: relative;
}

.sobre-card{
    display: flex;
    background-color: #000000;
    width: 1350px;
    height: 560px;
    border-radius: 30px;
    margin: auto;
}

.sobre-content-left{
    border-radius: 30px;
}

.sobre-content-left img{
    height: 100%;
    border-radius: 30px;
}

.sobre-content-right{
    background-color: #feda00;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.sobre-content-right h2{
    text-align: center;
    font-family: 'Retroica';
}

.sobre-content-right p{
    padding: 0 33px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins Medium';
    text-align: justify;
}

.sobre-content-left-02{
    width: 55%;
}

.sobre-content-left-02 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sobre-content-right-02{
    background-color: #000000;
    border-radius: 30px;
    height: 100%;
    width: 45%;
}

.sobre-content-right-02 h2{
    text-align: center;
    font-family: 'Retroica';
    color: white;
}

.sobre-content-right-02 h2 img{
    height: 30px;
    width: 40px;
    padding-left: 10px;
}

.sobre-content-right-02 p{
    padding: 0 33px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins Medium';
    text-align: justify;
    color: white;
}

.voltar-sobre, .proximo-sobre{
    position: absolute;
    top: 50%;
    font-size: 28px;
    color: white;
    width: auto;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    user-select: none;
    transition: background-color .5s ease-in;
}

.voltar-sobre{
    right: 100%;
}

.proximo-sobre{
    left: 100%;
}

.voltar-sobre:hover, .proximo-sobre:hover{
    background-color: rgba(0, 0, 0, 0.75);
}

.pass{
    animation-name: passar;
    animation-duration: 1.8s;
    transition: passar 0.9s ease-in;
}

@keyframes passar{
    0%{
        margin-left: -90px;
        opacity: 0.35;
    }
    50%{
        opacity: 0.7;
    }
    75%{
        opacity: 0.85;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}

.projetos{
    background-color: #feda00;
    height: 1100px;
    position: relative;
}

.projetos h1{
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 85px;
    font-family: 'Built Titling BD';
    font-size: 40px;
}

.projetos h1:hover{
    color: rgba(0, 0, 0, 0.78);
    transition: color .5s ease-in;
}

.projetos h1:hover::before, .projetos h1:hover::after{
    background-color: #030300;
    content: '';
    width: 200px;
    height: 4px;
    position: absolute;
    top: 81px;
    transition: surgir-h1-p .3s ease;
    animation: surgir-h1-p 1.2s 1;
}

.projetos h1:hover::before{
    left: 34%;
}

.projetos h1:hover::after{
    left: 55.5%;
}

@keyframes surgir-h1-p{
    0%{
        margin-left: 30px;
        margin-top: -12px;
        background-color: #f0d32e;
    }
    50%{
        background-color: #8f8931;
    }
    100%{
        margin-left: 0;
        margin-top: 0;
        background-color: #191200;
    }
}

.projetos-cards{
    display: flex;
    justify-content: space-around;
}

.projetos-cards-MAAP{
    height: 780px;
    width: 480px;
    background-color: #191200;
    color: white;
    border-radius: 100px;
}

.projetos-cards-MAAP:hover{
    transform: scale(1.06);
    transition: transform .5s ease-in;
}

.projetos-cards-MAAP:hover .girar-icon{
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 1.5s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    } 
}

.card-MAAP-img{
    width: 100%;
    height: 330px;
}

.card-MAAP-img img{
    height: 330px;
    width: 100%;
    border-radius: 100px;
}

.card-MAAP-text{
    border-radius: 100px;
    margin-top: 25px;
    width: 100%;
    position: relative;
}

.card-MAAP-text h2{
    font-family: 'Retroica';
    text-align: center;
    font-weight: 500;
    position: relative;
}

.card-MAAP-text img{
    position: absolute;
    left: 47%;
}

.card-MAAP-text p{
    text-align: justify;
    padding: 5px 26px;
    font-family: 'Poppins Medium';
    font-weight: 400;
}

.contatos{
    background-color: #191200;
    height: 970px;
}

.contatos h1{
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 85px;
    font-family: 'Built Titling BD';
    font-size: 40px;
}

.bg{
    background-color: rgba(0,0,0,.4); 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    display: none;
}

.contatos-container{
    display: flex;
    width: 1200px;
    height: 600px;
    background-color: #feda00;
    margin: auto;
    border-radius: 35px;
    position: relative;
}

.contatos-left{
    height: 100%;
    width: 50%;
}

#titulo-mapa{
    display: none;
}

.mapouter{
    position: relative;
    text-align: right;
    width: 100%;
    height: 100%;
}

.gmap_canvas{
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.gmap_iframe{
    height: 100%!important;
}

.contatos-right{
    height: 100%;
    width: 50%;
}

.contatos-right h2, #titulo-mapa{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Built Titling BD';
}

#form{
    height: 490px;
    padding: 0 30px;
    margin-top: 40px;
}

input, textarea{
    border: none;
    width: 100%;
    font-size: 17px;
    font-family: 'Poppins Medium';
}

input:hover, textarea:hover{
    background-color: rgb(233, 236, 232);
    transition: background-color .5s ease-out;
}

input::placeholder, textarea::placeholder{
    font-size: 17px;
    font-family: 'Poppins Medium';
}

#nome, #email, #mensagem{
    display: block;
    border-radius: 35px;
}

#email, #mensagem{
    margin: 25px 0;
}

#nome{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 45px;
    padding-left: 15px;
}

#email{
    height: 45px;
    padding-left: 15px;
}

#mensagem{
    padding-top: 15px;
    padding-left: 15px;
    height: 210px;
}

#btn{
    border: none;
    padding: 0px;
    width: 230px;
    height: 50px;
    margin-left: 27%;
    margin-top: 15px;
    font-family: 'Poppins Medium';
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 35px;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(17, 20, 15);
    color: white;
    transition: background-color .5s ease-out, color .3s ease-out;
}

.caixa-confirm{
    width: 380px;
    height: 215px;
    background-color: #585040;
    position: absolute;
    left: 35%;
    top: 35%;
    display: none;
    text-align: center;
    border-radius: 20px;
    font-family: 'Poppins Medium';
}

.caixa-confirm h3{
    font-size: 25px;
    position: relative;
    color: #fffefafc;
}

.icone-confirm{
    text-align: center;
    margin-top: 5px;
}

.caixa-confirm button{
    padding: 7px 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 35px;
    border: none;
    background-color: #f0d32e;
    font-family: 'Poppins Medium';
    cursor: pointer;
    margin-bottom: 20px;
}

.caixa-confirm button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}

.caixa-logo{
    position: absolute;
    bottom: 0;
    left: 6px;
}

.rodape{
    background-color: #feda00;
    height: 220px;
    margin: 0;
}

.redes{
    margin-top: 0;
    height: 65px;
}

.redes ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-top: 25px;
}

.redes ul li{
    position: relative;
    margin: 0 20px;
    cursor: pointer;
    display: inline;
    height: 3em;
}

.redes ul li a{
    text-decoration: none;
}

ul li a .fa-brands{
    font-size: 3em;
    color: #222;
}

.redes ul li a::before{
    content: '';
    font-family: "FontAwesome";
    position: absolute;
    top: -28px;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.redes ul li:nth-child(1) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, 
      #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
      #bc1888 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
  }

.redes ul li:nth-child(2) a::before {
    content: "\f082";
    color: #3b5998;
    border-bottom: 4px solid #3b5998;
  }
  
.redes ul li:nth-child(3) a::before {
    content: "\f08c";
    color: #0e76a8;
    border-bottom: 4px solid #0e76a8;
  }

.redes ul li:hover a::before {
    height: 49px;
  }

.navbar ul{
    list-style-type: none;
    font-size: 22px;
    font-family: 'Poppins Medium';
    text-align: center;
    margin-top: 35px;
}

.navbar ul li{
    display: inline;
    margin: 0 10px;
    padding: 0 55px;
}

.navbar ul li a{
    letter-spacing: 4px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
}

.navbar li a:hover::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #23095c;
    top: 100%;
    left: -2%;
    width: 100%;
    transition: deslocar .6s ease;
    animation: deslocar 1.5s 1;
}

@keyframes deslocar{
    0%{
        width: 1px;
        transform: translateX(-20px);
        background-color: #feda00;
    }
    25%{
        background-color: #f0d32e;
    }
    50%{
        background-color: #bba41f;
    }
    75%{
        background-color: #23095c;
    }
    100%{
        width: 100%;
        transform: translateX(0px);
        background-color: #23095c;
    }
}

.rodape p{
    font-family: 'Poppins Medium';
    font-size: 22px;
    margin: 35px 0;
    padding: 0;
    text-align: center;
}

#home, #sobre, #projetos, #contato, #footer{
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: 6px;
    background-color: transparent;
    z-index: -1;
}

@media screen and (max-width: 1550px) {
    .home-content-left{
        width: 45%;
    }
    .home-content-right-carrosel{
        height: 520px;
        margin-left: 15px;
    }
    .home-content-left h1{
        font-size: 55px;
    }

    .home-content-left h2{
        font-size: 30px;
    }

    .slide img{
        height: 100%;
    }

    .sobre-content-carrosel{
        width: 1000px;
        margin: auto;
    }

    .sobre-card{
        width: 100%;
        height: 570px;
    }

    .sobre-content-left, .sobre-content-left-02{
        width: 53%;
    }

    .sobre-content-right, .sobre-content-right-02{
        width: 57%;
    }

    .sobre-content-left img{
        width: 90%;
        height: 90%;
    }

    .sobre-content-left-02 img{
        height: 100%;
    }

    .projetos-cards-MAAP{
        width: 425px;
        font-size: 15px;
    }

    .contatos-container{
        width: 1100px;
    }
}

@media screen and (max-width: 1275px) {
    .header-navbar ul{
        font-size: 20px;
        padding: 0;
    }

    .header-navbar ul li{
        margin: 0;
        padding: 0 35px;
    }

    .home-content-left{
        width: 40%;
        margin: 0 10px;
    }

    .home-content-left h1{
        font-size: 47px;
    }

    .home-content-left h2{
        font-size: 27px;
    }
    .home-content-left button{
        padding: 20px 35px;
    }

    .home-content-right-carrosel{
        height: 480px;
        margin-right: 20px;
    }

    .sobre-content-carrosel{
        width: 1000px;
        margin: auto;
    }

    .sobre-card{
        width: 100%;
        height: 570px;
    }

    .projetos{
        height: 1800px;
    }

    .projetos-cards{
        flex-wrap: wrap;
    }

    .projetos-cards-MAAP{
        width: 410px;
        font-size: 15px;
    }

    .contatos-container{
        width: 1000px;
        height: 570px;
    }

}

@media screen and (max-width: 1050px) {
    .home-content{
        flex-direction: column;
        justify-content: center;
        height: 1100px;
    }

    .home-content-left{
        width: 80%;
        text-align: center;
    }

    .home-content-left h1{
        margin-top: 0;
    }

    .home-content-right-carrosel{
        margin-top: 35px;
        width: 70%;
        height: 500px;
        text-align: center;
    }

    .slide{
        width: 100%;
    }

    .slide img{
        width: 100%;
    }

    .voltar{
        left: 0;
    }
    
    .sobre{
        height: 1200px;
    }

    .sobre-card{
        flex-direction: column;
        height: 950px;
        background-color: #191200;
    }

    .sobre-card:nth-child(2){
        background-color: #191200;
    }

    .sobre-content-carrosel{
        margin: 0;
    }

    .sobre-content-left{
        width: 55%;
        margin: auto;
    }
    
    .sobre-content-left-02{
        width: 50%;
        height: 70%;
        margin: auto;
    }

    .sobre-content-right{
        width: 80%;
        margin: auto;
    }

    .sobre-content-right-02{
        width: 80%;
        height: 75%;
        margin: auto;
        margin-top: 30px;
    }

    .sobre-content-left img{
        width: 100%;
        height: 90%;
    }
    
    .sobre-content-left-02 img{
        width: 100%;
    }

    .voltar-sobre{
        left: 0;
    }

    .proximo-sobre{
        left: 95%;
    }

    .projetos{
        height: 2580px;
    }

    .projetos-cards{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .projetos-cards-MAAP{
        width: 490px;
    }

    .contatos-container{
        width: 970px;
        height: 570px;
    }

    .rodape{
        height: 280px;
    }

    .redes{
        height: 80px;
    }

    .navbar ul li{
        padding: 0 20px;
    }
}

@media screen and (max-width: 1000px) {
    .header-navbar ul{
        font-size: 18px;
        padding: 0;
    }
    .header-navbar ul li{
        margin: 0;
        padding: 0 20px;
    }

    .material-symbols-outlined{
        display: none;
    }

    .sobre-card{
        flex-direction: column;
        background-color:#191200;
        height: 970px;
    }

    .sobre-content-carrosel{
        margin: auto;
        width: 75%;
    }

    .sobre-content-left, .sobre-content-left-02{
        background-color: #000000;
        width: 75%;
        height: 40%;
    }

    .sobre-content-right, .sobre-content-right-02{
        width: 80%;
        height: 55%;
        margin: auto;
        margin-top: 20px;
    }

    .sobre-content-right p, .sobre-content-right-02{
        font-size: 17px;
    }

    .contatos-container{
        width: 750px;
        height: 560px;
    }

    #form input{
        height: 40px;
    }

    #form #btn{
        margin: 0 0 0 60px;
        width: 180px;
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .header-container{
        justify-content: space-between;
        background-color: #feda00;
        width: 100%;
        height: 110px;
    }
    .header-logo{
        height: 100px;
        width: 85px;
        margin: 0 3px;
    }
    .header-logo img{
        height: 100%;
        width: 100%;
    }
    .header-navbar ul{
        font-size: 18px;
        padding: 0;
        display: none;
    }
    .header-navbar ul li{
        margin: 0;
        padding: 0 20px;
    }

    .header-container span{
        display: block;
        font-size: 42px;
        cursor: pointer;
        margin: 0 8px;
    }

    .sobre h1{
        font-size: 36px;
    }

    .sobre-card{
        flex-direction: column;
        height: 970px;
    }

    .sobre-content-carrosel{
        margin: auto;
        width: 75%;
    }

    .sobre-content-left, .sobre-content-left-02{
        width: 75%;
        height: 40%;
    }

    .sobre-content-right, .sobre-content-right-02{
        width: 80%;
        height: 53%;
        margin: auto;
        margin-top: 20px;
    }

    .sobre-content-right p, .sobre-content-right-02 p{
        font-size: 14px;
    }

    .contatos{
        height: 1280px;
    }

    .contatos h2, #titulo-mapa{
        font-size: 32px;
    }

    .contatos-container{
        flex-direction: column;
        height: 1050px;
        width: 80%;
    }

    .contatos-left{
        width: 95%;
        height: 55%;
        margin: 0 15px 0 15px;
    }

    #titulo-mapa{
        display: block;
        margin: 15px 0 15px 0;
    }

    .contatos-left .mapouter{
        height: 80%;
        margin: auto;
    }

    .contatos-right{
        height: 52%;
        width: 100%;
        margin: auto;
    }

    .contatos-right h2{
        margin: 5px 0;
    }

    #form{
        margin-top: 20px;
    }

    #form #btn{
        margin: 0 0 0 35%;
        width: 30%;
        font-size: 17px;
    }

    .navbar ul li{
        padding: 0 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .home-content-left{
        width: 80%;
        text-align: center;
        margin-bottom: 50px;
    }

    .home-content-left h1{
        margin-top: 0;
        font-size: 36px;
    }

    .home-content-left h2{
        font-size: 24px;
    }

    .home-content-left button{
        padding: 17px 30px;
        font-size: 18px;
    }

    .home-content-right-carrosel{
        margin: 40px 10px;
        width: 100%;
        height: 390px;
        border-radius: none;
        text-align: center;
    }

    .slide img{
        border-radius: 10px;
    }

    .voltar, .prox{
        font-size: 16px;
    }

    .ponto{
        height: 12px;
        width: 12px;
    }

    .sobre{
        height: 1120px;
    }

    .sobre-card{
        flex-direction: column;
        height: 970px;
    }

    .sobre-content-carrosel{
        width: 100%;
    }

    .sobre-content-left, .sobre-content-left-02{
        width: 100%;
        height: 35%;
        margin: 10px 0 0 0;
    }

    .sobre-content-left img, .sobre-content-left-02 img{
        width: 100%;
        height: 100%;
    }

    .sobre-content-right, .sobre-content-right-02{
        width: 100%;
        height: 50%;
        margin: 0;
    }

    .sobre-content-right p, .sobre-content-right-02 p{
        font-size: 13px;
    }

    .sobre-content-right h2, .sobre-content-right-02 h2{
        font-size: 20px;
    }

    .voltar-sobre{
        font-size: 14px;
        top: 40%;
        left: 0;
    }

    .proximo-sobre{
        left: 90%;
        top: 40%;
        font-size: 14px;
    }

    .projetos h1{
        font-size: 36px;
    }

    .projetos-cards{
        flex-direction: column;
        gap: 35px;
    }

    .projetos-cards-MAAP{
        width: 100%;
        font-size: 13px;
        height: 750px;
    }

    .card-MAAP-img{
        width: 100%;
        height: 45%;
    }

    .card-MAAP-img img{
        width: 100%;
        height: 100%;
    }

    .contatos h1{
        font-size: 36px;
    }

    .contatos-container{
        width: 100%;
    }

    .contatos-left{
        margin: 0;
        width: 100%;
    }

    #titulo-mapa{
        display: block;
        margin: 15px 0 15px 0;
    }

    .contatos-left .mapouter{
        width: 100%;
    }

    .contatos-right{
        height: 48%;
        width: 100%;
        margin: auto;
    }

    #form #btn{
        margin: 0 0 0 30%;
        width: 45%;
        font-size: 17px;
    }

    .caixa-confirm{
        left: 10%;
        width: 330px;
    }

    .caixa-confirm h3{
        font-size: 23px;
    }

    .rodape{
        height: 430px;
    }

    .redes{
        height: 80px;
    }
    
    .redes ul{
        width: 100%;
        padding: 30px 0;
    }

    .navbar ul{
        padding: 0;
    }

    .navbar ul li{
        display: block;
        padding: 10px 0;
    }
}
