@font-face {
    font-family: 'Poppins Medium';
    src: url('/assets/Fontes/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('/assets/Fontes/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'Built Titling BD';
    src: url('/assets/Fontes/Built/built\ titling\ bd.ttf') format('truetype');
}


@font-face {
    font-family: 'Retroica';
    src: url('/assets/Fontes/Retroica.ttf') format('truetype');
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 3;
}

*{
    box-sizing: border-box;
}

.pre{
    width: 80px;
    height: 80px;
    background-image: url(/assets/Imagens/circle.png);
    background-position: center;
    background-size: contain;
    animation: load 2s infinite linear;
}

.box-load{
    height: 100vh;
    background-color: #feda00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: none;
}

@keyframes load{
    to{
        transform: rotate(360deg);
    }
}

body{
    margin: 0;
    padding: 0;
}

#header{
    height: 130px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #feda00;
    height: 130px;
}

.header-logo{
    width: 90px;
    margin-top: 10px;
}

.header-logo:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
}

.header-logo img{
    width: 100%;
    text-align: center;
}

.header-navbar{
    margin: 0 30px;
}

.header-navbar ul{
    list-style-type: none;
    font-size: 18px;
    font-family: 'Poppins Medium';
}

.header-navbar li{
    display: inline;
    margin: 0 10px;
    padding: 0 55px;
}

.header-navbar li a {
    letter-spacing: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0 3px;
    color: black;
    position: relative;
}

.header-container span{
    display: none;
}

.header-navbar a:hover{
    color: rgba(0, 0, 0, 0.75);
    transition: color .6s ease-in-out;
}

.header-navbar li a:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: -2%;
    background-color: #2c0e70;
    transition: deslocando 0.7s ease-in;
    animation-name: deslocando;
    animation-duration: 0.8s;
}

@keyframes deslocando{
    0%{
        margin-left: 47%;
        width: 1px;
        transform: translateX(-15px);
        background-color: #feda00;
    }
    25%{
        background-color: #f0d32e;
    }
    50%{
        background-color: #bba41f;
    }
    75%{
        background-color: #23095c;
    }
    100%{
        margin-left: 0;
        width: 100%;
        transform: translateX(0px);
        background-color: #2c0e70;
        color: rgba(0, 0, 0, 0.75);
    }
}

.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 620px;
    width: 100%;
    background: rgb(19,19,19);
    background: linear-gradient(291deg, rgba(19,19,19,1) 0%, rgba(36,36,36,1) 60%, rgba(38,38,38,1) 100%);
    
}

.surgir{
    animation-name: surgir;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: surgir 1s ease-in;
}

@keyframes surgir{
    0%{
        transform: translate3d(-90px, 0, 0);
        opacity: 0.5;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.home-content-left{
    margin-top: 30px;
    margin-left: 0;
    width: 45%;
    z-index: 2;
}

.home-content-left h1{
    font-size: 50px;
    font-family: 'Poppins SemiBold';
    text-transform: uppercase;
    color: #fcde33;
}

.home-content-left h1:hover{
    transition: color 0.6s ease;
    color: #feda00;
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
}

.home-content-left h2{
    font-size: 27px;
    font-family: 'Poppins SemiBold';
    text-transform: uppercase;
    color: white;
}

@keyframes piscar{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.line{
    margin: 0 auto;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.home-content-left h1::after{
    content: '|';
    margin-left: 3px;
    color: #fcde33;
    animation: piscar 1s steps(40) infinite;
}

@keyframes blinkCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes digitando{
    from{
        width: 0;
    } 
    to{
        width: 14em;
    }
}

.home-content-left button{
    border-radius: 30px;
    padding: 20px 42px;
    margin: 25px 0;
    border: none;
    font-size: 20px;
    font-family: 'Poppins SemiBold';
    background: #FFFFFF;
    box-shadow: 10px 8px 40px rgba(245, 116, 21, 0.52);
    cursor: pointer;
}

.home-content-left button a {
    text-decoration: none;
    color:#030300;
}

.home-content-left button:hover{
    transition: background-color 0.4s ease-in, transform 0.1s ease-out;
    color: #2c0e70;
    background-color: #feda00;
    transform: scale(1.02);
    animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

.home-content-right-carrosel{
    margin-top: 20px;
    height: 450px;
    width: 40%;
    position: relative;
    border-radius: 100% 0% 90% 10% / 100% 100% 0% 0%;
}

.prox, .voltar{
    font-size: 18px;
    position: absolute;
    color: white;
    width: auto;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    top: 50%;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.4s ease-in;
}

.prox{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.ponto{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 7px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease-out;
}

.ponto:hover, .active{
    background-color: #717171;;
}

.prox:hover, .voltar:hover{
    background-color: rgba(0, 0, 0, 0.85);
}

.home-content-right-carrosel .slide{
    height: 100%;
}

.slide img{
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 100%;
}

.fade{
    animation-name: fade;
    animation-duration: 1.6s;
    transition: fade .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes fade{
    from {
        transform: translate3d(8px, 0, 0);
        opacity: .8;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.forma-fundo{
    width: 60%;
    height: 640px;
    position: absolute;
    left: 0;
    background-image: url(/assets/Imagens/Oficinas/projetos-oficinas.jpg);
    background-position: left;
    background-position-y: top;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius:0% 100% 0% 61% / 10% 56% 46% 0% ;
}

.sobre{
    height: 1375px;
    background-color: #191200;
    background-image: url(/assets/Imagens/fundo-sobre.png);
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.sobre h1{
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 85px;
    font-family: 'Built Titling BD';
    font-size: 40px;
    position: relative;
}

.sobre h1:hover{
    color: rgb(227, 230, 222);
    transition: color .7s ease;
}

.sobre h1:hover::after, .sobre h1:hover::before{
    content: '';
    width: 150px;
    height: 4px;
    position: absolute;
    background-color: #f0d32e;
}

.sobre h1:hover::before{
    top: 50px;
    transition: surgir-cima .3s ease;
    animation: surgir-cima 0.7s 1 linear;
}

.sobre h1:hover::after{
    top: 110px;
    left: 45%;
    transition: surgir-baixo .3s ease;
    animation: surgir-baixo 0.7s 1 linear;
}

@keyframes surgir-cima{
    0%{
        transform: translateX(-80px);
        background-color: #191200;
    }
    50%{
        background-color: #8f8931;
    }
    100%{
        transform: translateX(0px);
        background-color: #f0d32e;
    }
}

@keyframes surgir-baixo{
    0%{
        transform: translateX(80px);
        background-color: #191200;
    }
    50%{
        background-color: #8f8931;
    }
    100%{
        transform: translateX(0px);
        background-color: #f0d32e;
    }
}

.sobre-content{
    width: 1000px;
    border-radius: 30px;
    margin: auto;
}

.sobre-card{
    display: flex;
    background-color: #000000;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    margin: auto;
}

.sobre-content-left{
    height: 470px;
    border-radius: 30px;
}

.sobre-content-left img{
    height: 100%;
    border-radius: 30px;
}

.sobre-content-right{
    background-color: #feda00;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.sobre-content-right h2{
    text-align: center;
    font-family: 'Retroica';
}

.sobre-content-right p{
    padding: 0 33px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins Medium';
    text-align: justify;
}

.sobre-valores{
    margin-top: 130px;
    width: 100%;
    height: 250px;
    background-color: #feda00;
}

.sobre-valores h2{
    text-align: center;
    padding: 25px 0 10px 0;
    font-family: 'Built Titling BD';
    font-size: 35px;
}

.valores-icon-box{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.valores-icon-box span{
    font-size: 17px;
    font-family: 'Poppins Medium';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.valores-card{
    height: 100%;
    text-align: center;
}

.icon{
    height: 100px;
    width: 100px;
}

.icon img{
    width: 100%;
    height: 100%;
}

.valores-card:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in;
}

.projetos{
    background-color: #feda00;
    height: 1050px;
    position: relative;
    background-image: url(/assets/Imagens/fundo-amarelo.jpg);
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.projetos h1{
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 85px;
    font-family: 'Built Titling BD';
    font-size: 40px;
}

.projetos h1:hover{
    color: rgba(0, 0, 0, 0.78);
    transition: color .5s ease-in;
}

.projetos h1:hover::before, .projetos h1:hover::after{
    background-color: #030300;
    content: '';
    width: 140px;
    height: 4px;
    position: absolute;
    transition: surgir-h1-p .3s ease;
    animation: surgir-h1-p 1.2s 1;
}

.projetos h1:hover::before{
    top: 50px;
    transition: surgir-cima-p .3s ease;
    animation: surgir-cima-p 0.7s 1 linear;
}

.projetos h1:hover::after{
    top: 110px;
    left: 45.4%;
    transition: surgir-baixo-p .3s ease;
    animation: surgir-baixo-p 0.7s 1 linear;
}

@keyframes surgir-baixo-p{
    0%{
        background-color: #f0d32e;
        transform: translateX(80px);
    }
    50%{
        background-color: #8f8931;
    }
    100%{
        transform: translateX(0);
        background-color: #191200;
    }
}

@keyframes surgir-cima-p{
    0%{
        background-color: #f0d32e;
        transform: translateX(-80px);
    }
    50%{
        background-color: #8f8931;
    }
    100%{
        transform: translateX(0);
        background-color: #191200;
    }
}

.projetos-cards{
    display: flex;
    justify-content: space-around;
}

.projetos-cards-MAAP{
    height: 780px;
    width: 480px;
    background-color: #191200;
    color: white;
    border-radius: 100px;
}

.projetos-cards-MAAP:hover{
    transform: scale(1.03);
    transition: transform .5s ease-in;
}

.projetos-cards-MAAP:hover .girar-icon{
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 1.5s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    } 
}

.card-MAAP-img{
    width: 100%;
    height: 330px;
}

.card-MAAP-img img{
    height: 330px;
    width: 100%;
    border-radius: 100px;
}

.card-MAAP-text{
    border-radius: 100px;
    margin-top: 25px;
    width: 100%;
    position: relative;
}

.card-MAAP-text h2{
    font-family: 'Retroica';
    text-align: center;
    font-weight: 500;
    position: relative;
}

.card-MAAP-text img{
    position: absolute;
    left: 47%;
}

.card-MAAP-text p{
    text-align: justify;
    padding: 5px 26px;
    font-family: 'Poppins Medium';
    font-weight: 400;
}

.contatos{
    background-color: #191200;
    height: 970px;
}

.contatos h1{
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 85px;
    font-family: 'Built Titling BD';
    font-size: 40px;
}

.bg{
    background-color: rgba(0,0,0,.4); 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    z-index: 100;
    display: none;
}

.contatos-container{
    display: flex;
    width: 1200px;
    height: 600px;
    background-color: #feda00;
    margin: auto;
    border-radius: 35px;
    position: relative;
}

.contatos-left{
    height: 100%;
    width: 50%;
}

#titulo-mapa{
    display: none;
}

.mapouter{
    position: relative;
    text-align: right;
    width: 100%;
    height: 100%;
}

.gmap_canvas{
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.gmap_iframe{
    height: 100%!important;
}

.contatos-right{
    height: 100%;
    width: 50%;
}

.contatos-right h2, #titulo-mapa{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Built Titling BD';
}

#form{
    height: 490px;
    padding: 0 30px;
    margin-top: 40px;
}

input, textarea{
    border: none;
    width: 100%;
    font-size: 17px;
    font-family: 'Poppins Medium';
    outline-color: #3d194b;
}

input:hover, textarea:hover{
    background-color: rgb(233, 236, 232);
    transition: background-color .5s ease-out;
}

input::placeholder, textarea::placeholder{
    font-size: 17px;
    font-family: 'Poppins Medium';
}

#nome, #email, #mensagem{
    display: block;
    border-radius: 35px;
}

#email, #mensagem{
    margin: 25px 0;
}

#nome{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 45px;
    padding-left: 15px;
}

#email{
    height: 45px;
    padding-left: 15px;
}

#mensagem{
    padding-top: 15px;
    padding-left: 15px;
    height: 210px;
}

#btn{
    border: none;
    padding: 0px;
    width: 230px;
    height: 50px;
    margin-left: 27%;
    margin-top: 15px;
    font-family: 'Poppins Medium';
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 35px;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(17, 20, 15);
    color: white;
    transition: background-color .5s ease-out, color .3s ease-out, transform .3s ease;
    transform: scale(1.05);
    animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
}

.caixa-confirm{
    width: 380px;
    height: 215px;
    background-color: #585040;
    position: absolute;
    left: 35%;
    top: 35%;
    display: none;
    text-align: center;
    border-radius: 20px;
    font-family: 'Poppins Medium';
    z-index: 101;
}

.caixa-confirm h3{
    font-size: 26px;
    position: relative;
    color: #fffefafc;
}

.icone-confirm{
    text-align: center;
    margin-top: 5px;
}

.caixa-confirm button{
    padding: 7px 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 35px;
    border: none;
    background-color: #f0d32e;
    font-family: 'Poppins Medium';
    cursor: pointer;
    margin-bottom: 20px;
}

.caixa-confirm button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in-out;
    background-color: rgb(236, 217, 106);
}

.rodape{
    background-color: #feda00;
    height: 220px;
    margin: 0;
}

.redes{
    margin-top: 0;
    height: 65px;
}

.redes ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-top: 25px;
}

.redes ul li{
    position: relative;
    margin: 0 20px;
    cursor: pointer;
    display: inline;
    height: 3em;
}

.redes ul li a{
    text-decoration: none;
}

ul li a .fa-brands{
    font-size: 3em;
    color: #222;
}

.redes ul li a::before{
    content: '';
    font-family: "FontAwesome";
    position: absolute;
    top: -28px;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.redes ul li:nth-child(1) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, 
      #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
      #bc1888 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
  }

.redes ul li:nth-child(2) a::before {
    content: "\f082";
    color: #3b5998;
    border-bottom: 4px solid #3b5998;
  }
  
.redes ul li:nth-child(3) a::before {
    content: "\f08c";
    color: #0e76a8;
    border-bottom: 4px solid #0e76a8;
  }

.redes ul li:hover a::before {
    height: 49px;
  }

.navbar ul{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Poppins Medium';
    text-align: center;
    margin-top: 40px;
}

.navbar ul li{
    display: inline;
    margin: 0 10px;
    padding: 0 55px;
}

.navbar ul li a{
    letter-spacing: 4px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
}

.navbar li a:hover::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #23095c;
    top: 100%;
    left: -2%;
    width: 100%;
    transition: deslocar .6s ease;
    animation: deslocar 1.5s 1;
}

@keyframes deslocar{
    0%{
        width: 1px;
        transform: translateX(-20px);
        background-color: #feda00;
    }
    25%{
        background-color: #f0d32e;
    }
    50%{
        background-color: #bba41f;
    }
    75%{
        background-color: #23095c;
    }
    100%{
        width: 100%;
        transform: translateX(0px);
        background-color: #23095c;
    }
}

.rodape p{
    font-family: 'Poppins Medium';
    font-size: 20px;
    margin: 35px 0;
    padding: 0;
    text-align: center;
}

#home, #sobre, #projetos, #contato, #footer{
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: 6px;
    background-color: transparent;
    z-index: -1;
}

.from-bottom{
    animation: fade-in 0.8s cubic-bezier(.17,.67,.49,1.02);
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1550px) {
    .home-content{
        height: 640px;
    }
    .home-content-right-carrosel{
        height: 480px;
        margin-right: 14px; 
    }

    .slide img{
        height: 100%;
    }

    .sobre-content-carrosel{
        width: 1000px;
        margin: auto;
    }

    .sobre-card{
        width: 100%;
        height: 540px;
    }

    .sobre-content-left, .sobre-content-left-02{
        width: 53%;
    }

    .sobre-content-right, .sobre-content-right-02{
        width: 57%;
    }

    .sobre-content-left img{
        width: 90%;
        height: 90%;
    }

    .sobre-content-left-02 img{
        height: 100%;
    }

    .sobre-content-right p, .sobre-content-right-02 p{
        font-size: 16px;
    }

    .projetos-cards-MAAP{
        width: 425px;
        font-size: 15px;
    }

    .contatos-container{
        width: 1100px;
    }
}

@media screen and (max-width: 1275px) {
    .box-load{
        height: 100vh;
    }
    .header-navbar ul{
        font-size: 20px;
        padding: 0;
    }

    .header-navbar ul li{
        margin: 0;
        padding: 0 35px;
    }

    .home-content-left{
        width: 40%;
        margin: 0 30px 0 35px;
    }

    .home-content-left h1{
        font-size: 47px;
    }

    .home-content-left h2{
        font-size: 27px;
    }
    .home-content-left button{
        padding: 20px 35px;
    }

    .home-content-right-carrosel{
        height: 440px;
        margin: 0 20px 20px 15px;
    }

    @keyframes fade{
        from {
            transform: translate3d(6px, 0, 0);
            opacity: .7;
        }
        to {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    .sobre-content-carrosel{
        width: 1000px;
        margin: auto;
    }

    .sobre-card{
        width: 100%;
        height: 490px;
    }

    .projetos{
        height: 1800px;
    }

    .projetos-cards{
        flex-wrap: wrap;
    }

    .projetos-cards-MAAP{
        font-size: 15px;
    }

    .contatos-container{
        width: 1000px;
        height: 570px;
    }

    .caixa-confirm{
        left: 32%;
    }

}

@media screen and (max-width: 1050px) {
    .home-content{
        flex-direction: column;
        justify-content: center;
        height: 1100px;
    }

    .home-content-left{
        width: 80%;
        text-align: center;
    }

    .home-content-left h1{
        margin-top: 0;
    }

    .home-content-right-carrosel{
        margin-top: 35px;
        width: 70%;
        height: 500px;
        text-align: center;
    }

    .slide{
        width: 100%;
    }

    .slide img{
        width: 100%;
    }

    .voltar{
        left: 0;
    }
    
    .sobre{
        height: 2100px;
    }

    .sobre-card{
        flex-direction: column;
        height: 950px;
        background-color: #191200;
    }

    .sobre-card:nth-child(2){
        background-color: #191200;
    }

    .sobre-content{
        margin: 0;
    }

    .sobre-content-left{
        width: 55%;
        margin: auto;
    }

    .sobre-content-right{
        width: 80%;
        margin: auto;
    }

    .sobre-content-left img{
        width: 100%;
        height: 90%;
    }

    .projetos{
        height: 2580px;
    }

    .projetos-cards{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .projetos-cards-MAAP{
        width: 490px;
    }

    .contatos-container{
        width: 970px;
        height: 570px;
    }

    .rodape{
        height: 280px;
    }

    .redes{
        height: 80px;
    }

    .navbar ul li{
        padding: 0 20px;
    }

    .from-bottom{
        animation: none;
    }
}

@media screen and (max-width: 1000px) {
    .header-navbar ul{
        font-size: 18px;
        padding: 0;
    }
    .header-navbar ul li{
        margin: 0;
        padding: 0 20px;
    }

    .material-symbols-outlined{
        display: none;
    }

    .sobre-card{
        flex-direction: column;
        background-color:#191200;
        height: 970px;
    }

    .sobre-content{
        margin: auto;
        width: 75%;
    }

    .sobre-content-left{
        background-color: #000000;
        width: 75%;
        height: 40%;
    }

    .sobre-content-right{
        width: 80%;
        height: 55%;
        margin: auto;
        margin-top: 20px;
    }

    .sobre-content-right p{
        font-size: 17px;
    }

    .contatos-container{
        width: 750px;
        height: 560px;
    }

    #form input{
        height: 40px;
    }

    #form #btn{
        margin: 0 0 0 60px;
        width: 180px;
        font-size: 18px;
    }

    .caixa-confirm{
        left: 28%;
        width: 330px;
    }

    .from-bottom{
        animation: none;
    }
}

@media screen and (max-width: 800px) {
    .box-load{
        height: 840px;
    }

    .header-container{
        justify-content: space-between;
        background-color: #feda00;
        width: 100%;
        height: 110px;
    }
    .header-logo{
        height: 100px;
        width: 85px;
        margin: 0 3px;
    }
    .header-logo img{
        height: 100%;
        width: 100%;
    }
    .header-navbar ul{
        font-size: 18px;
        padding: 0;
        display: none;
    }
    .header-navbar ul li{
        margin: 0;
        padding: 0 20px;
    }

    .header-container span{
        display: block;
        font-size: 42px;
        cursor: pointer;
        margin: 0 8px;
    }

    .sobre h1{
        font-size: 36px;
    }

    .sobre-card{
        flex-direction: column;
        height: 970px;
    }

    .sobre-content{
        margin: auto;
        width: 75%;
    }

    .sobre-content-left{
        width: 75%;
        height: 40%;
    }

    .sobre-content-right{
        width: 80%;
        height: 53%;
        margin: auto;
        margin-top: 20px;
    }

    .sobre-content-right p{
        font-size: 14px;
    }

    .contatos{
        height: 1280px;
    }

    .contatos h2, #titulo-mapa{
        font-size: 32px;
    }

    .contatos-container{
        flex-direction: column;
        height: 1050px;
        width: 80%;
    }

    .contatos-left{
        width: 95%;
        height: 55%;
        margin: 0 15px 0 15px;
    }

    #titulo-mapa{
        display: block;
        margin: 15px 0 15px 0;
    }

    .contatos-left .mapouter{
        height: 80%;
        margin: auto;
    }

    .contatos-right{
        height: 52%;
        width: 100%;
        margin: auto;
    }

    .contatos-right h2{
        margin: 5px 0;
    }

    #form{
        margin-top: 20px;
    }

    #form #btn{
        margin: 0 0 0 35%;
        width: 30%;
        font-size: 17px;
    }

    #header{
        height: 110px;
    }

    .header-container{
        position: relative;
        display: block;
    }

    #btn-menu{
        position: absolute;
        right: 0;
        top: 35px;
    }

    .navbar ul li{
        padding: 0 10px;
        font-size: 20px;
    }

    .header-navbar.responsive{
        position: relative;
    }

    .header-navbar.responsive ul{
        display: block;
        padding: 0;
        margin: 0;
    }

    .header-navbar.responsive ul li a{
        display: block;
        text-align: center;
    }

    .from-bottom{
        animation: none;
    }

    .caixa-confirm{
        left: 24%;
    }

    .sobre h1:hover::after, .sobre h1:hover::before{
        display: none;
        animation: none;
    }

    .projetos h1:hover::before, .projetos h1:hover::after{
        animation: none;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .box-load{
        height: 100vh;
    }

    .header-container{
        display: block;
        position: relative;
    }

    #btn-menu{
        position: absolute;
        right: 0;
        top: 35px;
    }
    
    .home-content-left{
        width: 80%;
        text-align: center;
        margin-bottom: 50px;
    }

    .home-content-left h1{
        margin-top: 0;
        font-size: 36px;
    }

    .home-content-left h2{
        font-size: 24px;
    }

    .home-content-left button{
        padding: 17px 30px;
        font-size: 18px;
    }

    .home-content-right-carrosel{
        margin: 40px 10px;
        width: 90%;
        height: 340px;
        border-radius: none;
        text-align: center;
    }

    .slide img{
        border-radius: 10px;
    }

    .voltar, .prox{
        font-size: 16px;
    }

    .ponto{
        height: 12px;
        width: 12px;
    }

    .sobre{
        height: 2100px;
    }

    .sobre-card{
        flex-direction: column;
        align-items: center;
        height: 930px;
    }

    .sobre-content{
        width: 95%;
    }

    .sobre-content-left, .sobre-content-left-02{
        width: 85%;
        height: 28%;
        margin: 10px 0 0 0;
        border-radius: 20px;
    }

    .sobre-content-left img, .sobre-content-left-02 img{
        width: 100%;
        height: 90%;
    }

    .sobre-content-right{
        width: 85%;
        height: 55%;
        margin: 0;
    }

    .sobre-content-right p{
        font-size: 12px;
    }

    .sobre-content-right h2{
        font-size: 17px;
    }

    .sobre-valores{
        margin-top: 0px;
        width: 100%;
        height: 790px;
    }

    .sobre-valores h2{
        font-size: 26px;
    }

    .valores-card span{
        font-size: 14px;
    }

    .valores-icon-box{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }

    .projetos{
        height: 2500px;
        background-image: none;
    }

    .projetos h1{
        font-size: 36px;
    }

    .projetos-cards{
        flex-direction: column;
        gap: 35px;
    }

    .projetos-cards-MAAP{
        width: 85%;
        font-size: 13px;
        height: 730px;
    }

    .card-MAAP-img{
        width: 100%;
        height: 33%;
    }

    .card-MAAP-img img{
        width: 100%;
        height: 100%;
    }

    .projetos-cards-MAAP:hover {
        transform: scale(1.01);
    }

    .contatos h1{
        font-size: 36px;
    }

    .contatos-container{
        width: 92%;
        height: 70%;
    }

    .contatos-left{
        margin: 0;
        width: 100%;
        height: 400px;
    }

    #titulo-mapa{
        display: block;
        margin: 30px 0 20px 0;
        font-size: 26px;
    }

    .mapouter{
        width: 90%;
    }

    .gmap_canvas{
        height: 75%;
    }

    .contatos-right{
        height: 60%;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    #form{
        height: 60%;
    }

    #form #btn{
        margin: 0 0 0 25%;
        width: 50%;
        font-size: 16px;
    }

    .caixa-confirm{
        left: 11.5%;
        top: 70%;
        width: 300px;
    }

    .caixa-confirm h3{
        font-size: 23px;
    }

    .rodape{
        height: 430px;
    }

    .redes{
        height: 80px;
    }
    
    .redes ul{
        width: 100%;
        padding: 30px 0;
    }

    .navbar ul{
        padding: 0;
    }

    .navbar ul li{
        display: block;
        padding: 10px 0;
    }

    .navbar ul li a{
        font-size: 18px;
    }

    .rodape p{
        font-size: 19px;
    }

    .header-navbar.responsive{
        position: relative;
    }

    .header-navbar.responsive ul{
        display: block;
        padding: 0;
        margin: 0;
    }

    .header-navbar.responsive ul li a{
        display: block;
        text-align: center;
    }

    .sobre h1:hover::after, .sobre h1:hover::before{
        display: none;
        animation: none;
    }

    .projetos h1:hover::before, .projetos h1:hover::after{
        animation: none;
        display: none;
    }

    .header-navbar li a:hover::after{
        content: '';
        height: 3px;
        width: 50%;
        position: absolute;
        top: 100%;
        left: 25%;
        background-color: #2c0e70;
        transition: deslocando 0.7s ease-in;
        animation-name: deslocando;
        animation-duration: 1.5s;
    }

    .from-bottom{
        animation: none;
    }

    .fade{
        animation: none;
    }
}
