body{
    min-height: 650px;  
    background-image: url("../imgs/casas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.container{
    margin: 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;  
}

#main{
    margin: auto;
    padding: 0px;
    width: 800px;
    background-color: #f5f2d0;
}

#header-logo{
    position: relative;
    margin: 0;
    margin-left: 270px;
}

#header-menu{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}

#header-menu ul{
    list-style-type: none;
    margin: 0px;
    padding-left: 195px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#header-menu li{
    display: inline-block;
    padding-right: 25px;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#header-menu a{
    text-decoration: none;
    padding: 6px;
}

.ativado{
    background-color:#e58c56;
    color: white;
}

#header-menu a:not(.ativado){
    color: black;
}

#header-menu a:hover:not(.ativado){
    background-color:#e58c56;
    color: white;
    transition: 0.4s;
}

#img-text{
    width: 300px;
    margin: auto;
}

#img-text img{
    width: 100%;
    box-shadow: 0px 0 10px 0px black ;
    border-radius: 20px;
}

#img-text figcaption{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#footer{
    border-top: 1px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 1440px){
    .container{
        font-size: 16px;
        margin: auto;
    }
}

@media screen and (max-width: 768px){
    body{
        margin: 0px;
        padding: 0px;
        background-image: none;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #main{
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-size: 14px;
    }

    #header-logo{
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-menu ul{
        padding: 0;
        border-top: 2px solid white;
    }

    #img-text{
        width: 390px;
        padding: 0;
    }

    #img-text img{
        width: 100%;
    }
}